.page {width:auto;margin:auto;font-family:Calibri,sans-serif;}
#logo{margin-top:6em;display:flex;justify-content: center;}

h1{text-align: center;margin-top:1em;}
span.titre{ 
	padding:0 30px;
	border-radius: 35px;
    background-color:rgb(181,30,41);
	color:white;}

h2 {text-align: center;color:white;margin-bottom: 1em;margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
	font-weight: bold;font-size:40px;line-height:60px;
}
header{
	background-image:url("Images/moto1.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-bottom:0px;
	margin-top: -21px;
	margin-left: -21px;
    margin-right: -31px;
	height:50em;
	border-bottom: 5px red outset;
}

nav ul
{
  	list-style: none;
	Padding: 2em;
	display:flex;justify-content:flex-end;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#presentation{display: flex; justify-content: space-between;}

.article{margin-right: 10px; text-align:justify;}

.aside{margin-left: 15px; display:flex; align-items: center;}

h3 {font-size:30px; color:#9B9B9B;}
article {background-image:url("Images/garage.jpg"); height:30em;
background-repeat:no-repeat;background-size:cover;margin:0 -35px;margin-top: 2em;
padding:17px; border-top: 5px red inset; }
#texte {color:white;font-size:25px;padding-top:12em;text-align:center;
line-height:35px;}
#service{color:#716666;margin-left:12em;margin-right:10em;text-align:center;
margin-top:3em;}
#service p{font-size:20px;}


#BOX1 {display: flex;flex-wrap: wrap;}
#BOX1>* {flex:1;margin:20px;}
#box1 {background-color:#FFD5D5;padding-top:15px;padding-left:21px;padding-right:21px;}
#box2 {background-color:#FFD5D5;padding-top:15px;padding-left:21px;padding-right:21px;}
#BOX2 {display: flex;flex-wrap: wrap;}
#BOX2>* {flex:1;margin:20px;}
#box3 {background-color:#FFD5D5;padding-top:15px;padding-left:21px;padding-right:21px;}
#box4 {background-color:#FFD5D5;padding-top:15px;padding-left:21px;padding-right:21px;}

ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
}
li{
  padding-bottom: 16px;
}
#service li::before{
  content: "✅";
  padding-right: 8px;
  color: green;
  font-weight:bold;
}

.numero{color:#E60000;font-weight: bold;font-size:40px;}

#contact h1{color:white;padding-top:20px;text-shadow: black 0.1em 0.1em 0.2em;}
#contact p {padding-top:10px;color:white;font-size:40px;text-shadow: black 0.1em 0.1em 0.2em}
#contact {
	text-align:center;
	background-image:url("Images/contact.jpg");
	background-position:center;
	background-size:cover;
	margin-bottom:0px;
	margin-top: -21px;
	margin-left: -21px;
    margin-right: -31px;
	height:41em;
}

@media all and (max-device-width: 480px)
{
	#logo{margin-top:1em;display:flex;justify-content: center;}
	nav ul{display:flex;text-align:right;flex-direction:column;}
	.aside{display:none;}
	#BOX1 {display:flex;justify-content: center;}
	#BOX2 {display:flex;justify-content: center;}
	#texte {color:white;font-size:25px;padding-top:12em;text-align:center;
	line-height:35px;text-shadow: black 0.1em 0.1em 0.2em}
	form {margin:0 5px 0 5px;}
	iframe {height:300px; width:300px;}
}

#plan {display:flex;justify-content:space-around;}


form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: top;font-size:25px;
  color:white;text-shadow: black 0.1em 0.1em 0.2em;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .1em;
}

#haut {
  display: inline-block;
  background-color: red;
  opacity:0.5;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
}

#haut:hover {
  cursor: pointer;
  background-color: #333;
}

#haut:active {
  background-color: #555;
}

#haut::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

iframe {  border: 1px solid black;width:400; height:300;}